
// Variables
@import 'variables';

body{
	background-color:red;
}
.big-padding{
	padding:30px;
}

.blue-grey{
	background-color:#37474f;
}

.white-tetx{
	color:white;
}

.table{
	background-color:white;
}